@media (max-width : 1630px) {
  .cycle-card {
    padding: 40px;
  }
  .cycle-card__icon {
    height: 120px;
  }
  .cycle-card__top:before {
    font-size: 100px;
  }
  .contacts__inner {
    gap: 30px;
  }
}//1630

@media (max-width: 1199px) {
  .h2,
  h2 {
    font-size: 40px;
  }

  .cycle__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .cycle-card {
    &:nth-child(2) {
      border-left: none;
    }
    &:nth-child(3) {
      border-left: 1px solid  #52bbb5;
      border-right: none;
    }
    &:nth-child(5) {
      border-left: 1px solid  #52bbb5;
    }    
  }
  .head__title {
    font-size: 40px;
  }
  .site-cta__title {
    font-size: 32px;
  }

  .site-cta__contacts {
    justify-content: flex-start;
  }

  .site-footer__top {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  .site-cta__body {
    padding: 60px;
  }
  .site-footer__menu {  
    justify-content: flex-end;
  }
  .site-footer__contacts {
    gap: 20px 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
  }
  .news-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .requisites__grid {
    display: flex;    
    flex-direction: column;
  }
  .contacts__inner {

    flex-direction: column;
  }
  .contacts__left,
  .contacts__panel {
    width: 100%;
  }
}//1199


@media (max-width : 991px) {
  .project-card__img-w {
    height: 300px;
  }
}//991

@media (max-width: 767px) {
  section {
    padding: 80px 0;
  }

  .h2,
  h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .subtitle {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .cycle__grid {
    grid-template-columns: 1fr;
  }

  .cycle-card {
    padding: 28px 22px 36px;
  }
  
  .cycle-card__icon {
    height: 150px;
    margin-bottom: 20px;
  }

  .cycle-card__num {
    font-size: 52px;
  }
  .cycle-card__title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .cycle-card {
    padding: 30px 20px;
  }
  .cycle-card__top:before {
    font-size: 72px;
  }
  .cycle-card__text {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .cycle-card__list {
    gap: 12px;
    li {
      font-size: 13px;
    }
  }
  .cycle-card {
    &:nth-child(2) {
     border-left: 1px solid  #52bbb5;
   }
   &:nth-child(3) {
     border-right: 1px solid  #52bbb5;
   }
 }
 .head__banner {
  padding: 30px 0;
  min-height: 212px;
}

.bread {
  margin-bottom: 40px;
  ul {
    li {
      font-size: 14px;
      a {

      }
    }
  }
}

.head__title {
  font-size: 32px;
  letter-spacing: 1px;
}
.bread ul li:not(:last-child):after {
  height: 14px;
}
.s-site-cta {
  grid-template-columns: 1fr;
  min-height: 0;
}

.site-cta__media img {

}

.site-cta__body {
  padding: 48px 24px;
}

.site-cta__title {
  font-size: 26px;
  margin-bottom: 32px;
}

.site-cta__btn {
  align-self: stretch;
}

.site-footer__nav {
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.site-footer__menu {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.project-cards {
  display: flex;    
  flex-direction: column;
}
.page-404 {
  gap: 10px;
}
.news-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}
.news-card {
  border: 1px solid #52bbb5;
}
.news-card__img-w {
  height: 240px;
}
.news-card__body {
  padding: 0 20px 30px;
}
.requisites h2 {
  margin-bottom: 20px;
}
.requisites__card {
  min-height: 140px;
  padding: 10px 20px;
}
.requisites__value {
  font-size: 16px;
}
.contacts-map {
  .contain {
    max-width: 100% !important;
    padding: 0 !important;
  }
}
.contacts__actions {  
  flex-direction: column;
  gap: 20px;
  .btn {
    max-width: 100%;
  }
}

.contacts__panel {
  padding: 60px 15px;
}
.subtitle {
  font-size: 14px;
}
.contacts {
  padding-bottom: 30px;
}
}//767

@media (max-width : 640px) {
  .news-cards + .pagination {
    display: none;
  }
  .show-640 {
    display: block;
  }    
  .pagination-more__w {
    display: flex;  
    justify-content: center;
    margin-top: 30px;
  }
  .news-cards {

    .news-card {
     display: none;
     &:nth-child(1),
     &:nth-child(2),     
     &:nth-child(3),     
     &:nth-child(4),     
     &:nth-child(5) {
       display: flex;
     }     
   }
   &.open {
     .news-card {
       display: flex !important;
     }
   }
 }
}//640

@media (max-width : 575px) {
  .s-site-cta {
    display: flex;    
    flex-direction: column-reverse;
  }
  .site-cta__body {
    padding: 60px 15px 80px 15px;    
  }
  .site-cta__form {
    margin-top: 10px;
    max-width: 100%;
  }
  input[type="email"],
  input[type="tel"],
  input[type="password"],
  input[type="text"]  {
    font-size: 16px;
  }
  .site-cta__form input[type="submit"], .site-cta__form button {
    max-width: 100%;
  }
  .site-cta__media {
    height: 200px;
  }
  .site-footer__contacts {
    display: flex;    
    flex-direction: column;
  }
  .site-footer__contacts {
    padding-top: 30px;
    border-top: 1px solid rgba(#52bbb5, 0.4); 
  }
  .site-footer__nav {
    border: none;
  }
  .site-footer__menu {
    gap: 30px;
  }
  .site-footer__policy {
    padding-top: 30px;
    border-top: 1px solid rgba(#52bbb5, 0.4); 
    width: 100%;
    text-align: center;
  }
  .site-footer__copyright {
    text-align: center;
    max-width: 100%;
    width: 100%;
  }
  .site-footer {
    padding-bottom: 46px;
  }
  .site-footer__top {
    padding-top: 60px;
  }
  .project-card__img-w {
    height: 220px;
  }
  .project-card__body {
    padding: 20px;
    padding-bottom: 30px;
  }
  .project-card__title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .project-card__text {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .project-cards {
    gap: 20px;
  }
  .section-t-60 {
    padding-top: 40px;
  }
  .page-404 {
    h1 {
      font-size: 28px;
    }
    p {
      font-size: 14px;
    }
  }
  .news-card__date {
    font-size: 12px;  
    height: 28px;
    margin-bottom: 10px;
  }
  .news-card__title {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .news-card__text {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .contacts__card {
    padding: 20px;
    gap: 10px;
  }
  .contacts__card-icon {
    width: 62px;
    height: 62px;
    img {
      max-width: 35px;
    }
  }
  .contacts__card-label {
    font-size: 12px;
  }
  .contacts__card-value {
    font-size: 16px;
  }
  .contacts__card-note {
    font-size: 13px;
  }
  .contacts__panel {    
    margin-left: -15px;
    margin-right: -15px;
    width: calc(100% + 30px);
  }
  .contacts__agree-text {
    font-size: 12px;
  }
  .contacts__submit {
    margin-top: 20px;
  }
  .contacts__field {
    margin-bottom: 20px;
  }
  .requisites h2 {
    padding-right: 40px;
  }
}//575




@media (max-width : 480px) {}//480
@media (max-width : 375px) {}//375
@media (max-width : 374px) {}//374
@media (max-width : 360px) {}//360

@media only screen and (max-width : 360px) {
  body, body > * {
    width: auto;
    min-width: 360px;
  }
}